<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SemesterConnectionString" connectionString="Data Source=UBVBIYXSV1LKLZB;Initial Catalog=Semester;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
        <add name="SemesterConnectionString2" connectionString="Data Source=UBVBIYXSV1LKLZB;Initial Catalog=Semester;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
        <add name="SemesterConnectionString3" connectionString="Data Source=UBVBIYXSV1LKLZB;Initial Catalog=Semester;Persist Security Info=True;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
        <add name="SemesterConnectionString4" connectionString="Data Source=UBVBIYXSV1LKLZB;Initial Catalog=Semester;Persist Security Info=True;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
        <add name="SemesterConnectionString5" connectionString="Data Source=UBVBIYXSV1LKLZB;Initial Catalog=Semester;Persist Security Info=True;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
        <add name="SemesterConnectionString6" connectionString="Data Source=UBVBIYXSV1LKLZB;Initial Catalog=Semester;Persist Security Info=True;User ID=sa;Password=111111"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
